/* You can add global styles to this file, and also import other style files */

.title {
    margin-left: 16px;
}

.monospace-textarea {
    font-family: monospace !important;
    white-space: pre;
}